.site-header {
    background-color: $gray-light;
    @media (prefers-color-scheme: dark) {
        background-color: $gray-dark-2;
    }
    padding: 2em 0;
    .row {
        @include w700 {
            display: flex;
            justify-content: space-between;
        }
        align-items: center;
        .logo {
            font-size: 1.5em;
            font-weight: $bold;
            color: $purple;
            &:hover {
                color: $gray;
            }
        }
        nav {
            ul {
                display: flex;
                li {
                    &:not(:last-child) {
                        margin-right: 1.5em;
                        @include w480 {
                            margin-right: 2em;
                        }
                    }
                    a {
                        font-weight: $medium;
                        color: darken($gray, 15%);
                        @media (prefers-color-scheme: dark) {
                            color: $gray;
                        }
                        &:hover {
                            color: $purple;
                        }
                    }
                }
            }
        }
    }
}
