.site-footer {
    background-color: $gray-light;
    padding: 2.5em 0;
    .row {
        display: flex;
        justify-content: space-between;
        .logo {

        }
        p {
            a {
                display: inline;
                color: darken($gray, 10%);
                font-weight: $medium;
                &:hover {
                    color: $purple;
                }
            }
        }
    }
}
